[2016-04-03 01:36] 3noch opened #3 "Client functions assume endpoint paths are relative to the page being served"
If you serve an API from `localhost/api` and serve a Reflex-DOM page from `localhost/static`, the client functions will try to access the API at `localhost/static/api` instead of `localhost/api`. This precludes people from serving their Reflex-DOM pages from any path that is not a subset of the API paths.

[2016-04-03 02:46] imalsogreg commented on #3
I believe this is solved by setting the BasePath explicitly to "/". I haven't written that part of the library yet. I think I can get to it tomorrow though - I don't expect that part to be hard.

FYI - base path and response headers are the last two major missing parts (well - tests would be nice too). The response headers will be a bit harder as reflex-dom's XhrResponse record doesn't have a fiel

[2016-04-03 02:53] 3noch commented on #3
Cool! I thought I had tried that, but maybe I missed something. I'll try again.

Do you think many changes will be necessary for servant 0.6? The default client code changed, but this library isn't using a `Manager` anyway.

[2016-04-03 03:05] imalsogreg commented on #3
Don't try it again - you'll be disappointed! :) The BaseUrl parameter is settable, but I don't actually use it yet in building the requests - the place to fill in the implementation is [here](https://github.com/mightybyte/servant-reflex/blob/56970bc3efba45531ef8fce8a3a0bfef584e7ade/src/Servant/Common/Req.hs#L102)

I don't know of what's in the works for 0.6, but I was under the impression that ser

[2016-04-03 03:27] 3noch commented on #3
Thanks for looking into it!

servant 0.6 is already in it`s `master` branch. It's just that they got rid of the need to pass `Manager` to the `client` function. I don't know if any architectural things changed that would require some changes in `servant-reflex`.

[2016-04-05 04:08] 3noch opened #5 "Support new auth combinators"
It doesn't look like the new auth combinators are supported yet.

[2016-04-05 04:37] 3noch commented on #5
For `BasicAuth` I think it'd be something like this, but I can't seem to get the types right. I'm not sure how to lift things into the Event framework.

[code]

[2016-04-24 13:06] Ikyushii commented on #3
Oh, that would explain why my tests keep ignore the BaseUrl port I gave to them.

I was wondering if I could help. Unfortunatly, I’m quite new at both servant and reflex, but who knows. I would love to get involve in servant-reflex, as I plan to use it in my project.

[2016-04-24 13:23] imalsogreg commented on #3
@Ikyushii I would love your help. Whether you wanted to try integrating BaseUrl into the requests by following the [pattern used in Req.hs](https://github.com/imalsogreg/servant-reflex/blob/30af98a2f232521914990b0d404e20d5f7c5c369/src/Servant/Common/Req.hs#L97-L141) for assembling requests, or to try something simpler (improving the example application, writing some tests, anything else)... any co

[2016-04-24 13:39] imalsogreg opened #6 "Add support for API's with response headers"
We don't have a client instance for API's like this:

[code]

The `Response` type we use comes from [reflex-dom](https://github.com/reflex-frp/reflex-dom/blob/c647f8f7fb449721fe00ba9c07579114d36677d4/src/Reflex/Dom/Xhr.hs#L79-L85) and doesn't currently supply response headers.

There are two ways to fix this:
 1. Patch reflex-dom's `XhrResponse` code to supply headers
 2. Switch to [`Response`](ht

[2016-04-24 13:39] Ikyushii commented on #3
Count me in, I will try the BaseUrl thing this week, probably tomorrow. It might be a good way to understand reflex internals :).

[2016-04-24 13:59] Ikyushii commented on #6
The first thing to do is probably to get in touch with the reflex-dom folks to know if they want such support, don’t you think?

[2016-04-25 02:05] imalsogreg opened #8 "Report xhr trigger attempts that don't result in a request being sent"
We allow for a limited amout of validation by making each API parameter map to a `Behavior t (Maybe Foo)` When any API parameter is `Nothing`, the trigger event that would normally send a Request is silently dropped.

It would be nice for servant-reflex to notify us one way or another. To take a specific example:

[code]

The function that `servant-reflex` generates now is:

[code]

This alternati

[2016-04-25 17:12] Ikyushii commented on #3
Okay so just to let you know, I worked on it today and it almost works. I just have a little edge case to handle and I will be able to do a PR (:

If you want to have a look: https://github.com/Ikyushii/servant-reflex/commit/dd13dc2a7a7478df86c82b4dd5c922e2ff18bcf3

[2016-04-25 17:27] 3noch commented on #3
@imalsogreg Glad this is getting worked on. Sorry for not being more help ATM. I got lambasted recently and haven't time.

@Ikyushii Did you consider making host and port portions of `BaseUrl` optional? In that case the XML request would be sent to the same server that served the page. That could be useful as well.

[2016-04-25 17:57] Ikyushii commented on #3
The BaseUrl is not defined within servant-reflex but in servant itself, so it is not possible as-is.

[2016-04-25 18:34] 3noch commented on #3
I thought the same thing, but: https://github.com/imalsogreg/servant-reflex/blob/master/src/Servant/Common/BaseUrl.hs#L30

[2016-04-25 20:05] Ikyushii commented on #3
I think this file can be removed, doesn’t it?

Rather than modifying an existing data type, maybe we can provide helper functions. For instance, `fromCurrentDomain :: String -> BaseUrl`. What do you think?

[2016-05-01 04:44] imalsogreg commented on #3
@3noch @lethom I tried defining BaseUrl as this:

[code]

So the server part is all optional (leaving it out will default to a same-host kind of URL, with an optional port inside, and all separate from the path part.

The full [diff is here](https://github.com/imalsogreg/servant-reflex/compare/base-url-2?expand=1)

I put together an example to help debugging: http://web.mit.edu/greghale/Public/exa

[2016-05-01 07:51] lethom commented on #3
As I said, I’d rather use the type `Either BaseUrl Sting`. That being said, the fact that BaseUrl is no longer a Dynamic is, I think, a good thing.

[2016-05-01 08:30] lethom opened #10 "Add a stack.yaml"
I use stack rather than nix and I wrote a very small stack.yaml file which works for servant-reflex.

Do you want me to make a PR with these changes?

[2016-05-01 19:47] imalsogreg commented on #10
I don't use stack personally and wouldn't be able to maintain a stack.yaml file. Would it help you (or others) to have the stack file in this repo? (n.b. I expect our deps will get a lot cleaner as some of our main dependencies get to hackage). Do Haskell libraries typically come with stack.yaml files, or is there one stack.yaml for a final project?

[2016-05-01 21:23] mightybyte commented on #10
A stack.yaml file fixes users to one particular version of all of the dependencies.  This isn't very flexible for libraries as you usually want them to be buildable with a wider range of dependency versions.  I think stack.yaml is something that end users should create for themselves and not supplied by libraries.

[2016-05-01 21:48] imalsogreg commented on #3
closed by 43e21802b31b026a7a1fdabe27484ccd7d5d3486

[2016-05-01 21:48] #3 closed

[2016-05-02 16:07] imalsogreg commented on #8
Closed by #11

[2016-05-02 16:07] #8 closed

[2016-05-03 15:05] imalsogreg commented on #10
Sounds like I can close this. Thanks both.

[2016-05-03 15:05] #10 closed

[2016-05-05 13:35] imalsogreg commented on #5
Sorry for the delay. I think your type for Client is right (s / Maybe / Either String ).

The `req` you're record-updating isn't a `XhrRequestConfig` though, it's a `Req t`. So what we would do is add a field to the `Req t` type, called `reqBasicAuth :: Maybe (Behavior t (Either String BasicAuthData))`. Then then we'd handle merging that field in with all the other `Req t` fields in the `Common.Re

[2016-05-05 13:52] 3noch commented on #5
Thanks for the feedback! Unfortunately I got stymied due to lots of travel and won't be able to work on anything for a couple weeks. So that's the earliest I could work on it. If it's still open by then I'll give it a whack.

[2016-05-05 17:14] imalsogreg commented on #5
👍

[2016-05-13 07:27] lethom commented on #5
I will try to have a look at this this weekend. I really think this is a must-have for servant-reflex to be usable.

[2016-05-16 17:59] imalsogreg opened #13 "Reversed path parts"
Reported on irc by @lambdasistemi

`"a" :> "b" :> ...` is being routed to `b/a`.

[2016-05-16 18:33] imalsogreg commented on #13
Closed by 2e25bc64a8d1d4b8d322872f59c72579e2fbca5a

[2016-05-16 18:33] #13 closed

[2016-06-28 19:46] qrilka opened #15 "Package fails to build with stack and servant-0.5"
Using stack (see `stack.yaml` in my branch https://github.com/qrilka/servant-reflex/tree/stack-test)  I get the following compilation errors:
[code]

[2016-06-28 20:41] imalsogreg commented on #15
Thank you for the report. I think you may be on a newer version of reflex-dom that exports its own `apDyn`. I've renamed the `apDyn` in `servant-reflex` to `myApDyn`. Would you please try pulling the latest change to `servant-reflex` and letting me know if the build works?

NB - when `servant-reflex` is released on Hackage I will pick dependency version bounds that prevent this kind of thing. Unti

[2016-06-28 21:13] qrilka commented on #15
thanks @imalsogreg - compiled perfectly

[2016-06-28 21:13] #15 closed

[2016-07-05 18:40] imalsogreg commented on #6
There's work going on for this in #16

Using `ghcjs-base`'s XHR Request types instead of `reflex-dom`'s as a stopgap.

[2016-07-26 01:28] ojw opened #18 "Add a real license file."
This project is great and I want to use it!  However, it has an empty license file, so I don't think that I can.  If you intend this to be an open source project and have a preferred license, I can throw together a pull request updating the license file.

[2016-07-26 02:12] imalsogreg commented on #18
Good catch. I'd very gladly take a PR with a real license file. BSD3 ok? Thanks!

[2016-07-26 02:46] imalsogreg commented on #18
Closed by #19

[2016-07-26 02:46] #18 closed

[2016-08-07 05:14] ojw opened #20 "Support for Request Headers?"
There's a `HasClient` instance for `(Header sym a :> sublayout)`, but it doesn't actually set the header.  I played around trying to get it to work, but have failed so far - I can't figure out how to actually use the `Behavior t (Either String a)` to produce a `Client t m sublayout`.  Is there a clear direction to getting headers to work?  If the type looked like

[code]

instead of

[code]

if wo

[2016-08-07 05:28] ojw commented on #20
Ack, never mind, it's pretty simple:

[code]

seems to work.

I'll create a PR, but could of course be missing something obvious.

[2016-08-07 05:31] ojw commented on #20
Ah, but that sets the header value of `Right "foo"` to `"right foo"` rather than `"foo"`.  I'll take a look at `addHeader`...

[2016-08-07 05:46] ojw commented on #20
If I hack `addHeader` to look like

[code]

[2016-08-07 21:10] imalsogreg commented on #20
Thanks for the PR! So, the type for header arguments is `Behavior t (Either String a)` because we want the XHRRequest to be a function of the header value over all time. But there may be times when there is no valid value for the header, for example, if a user input that needs validation is being used to computer the header value. What can exist at all times is an `Either String a` where `Left` me

[2016-08-07 21:11] ojw commented on #20
Definitely, I'll take a look when I get home. Thanks for the explanation!

On Sun, Aug 7, 2016, 5:10 PM Greg Hale <notifications@github.com> wrote:

[2016-08-15 00:24] ojw commented on #20
Took another stab that I hope is more in the direction you're looking for.  It could still use some work - in particular, `xhrHeaders` is now pretty messy.

[2016-08-15 01:03] imalsogreg opened #23 "Hackage release roadmap"
Here are the things that need to happen before a Hackage release.

- [x] Hackage release for `reflex-0.5` and `reflex-dom-core-0.4`
- [x] Response headers in `reflex-dom` (https://github.com/reflex-frp/reflex-dom/pull/80)
- [x] Response headers deserialized according to servant API here
- [x] Rewrite some of Req.hs to make it more readable
- [x] Finish porting the generated functions from `Behavio

[2016-08-16 00:42] #20 closed

[2016-09-09 03:14] imalsogreg commented on #6
closed by #16

[2016-09-09 03:14] #6 closed

[2016-09-17 15:50] mpickering opened #24 "build.sh fails"
I am trying to follow the instructions on the `README`. Eventually this fails with the following error:

[code]

[2016-09-18 01:46] imalsogreg commented on #24
Thanks for the report! I have now merged in a bunch of new work. Would you mind trying again? I'm relying on new features in reflex (0.5) and reflex-dom (0.4) - are those dependencies ok for the rest of your project?

[2016-09-18 11:06] mpickering commented on #24
It seems like the problem might have been I was running `build.sh` inside the `try-reflex` sandbox.

[2016-10-21 22:46] #24 closed

[2016-11-04 12:51] qrilka commented on #23
Hi @imalsogreg,
Any updates on this one?
I guess now it's mostly about cleanup and the package is in usable and stable state?

[2016-11-04 13:16] imalsogreg commented on #23
Hey.

I'm less bothered by Req.hs than I used to be, so I'm tempted to check that one off. What do you think?

The test suite is kind of close, although I'm stuck on one test case that is commented out because I don't understand why it's failing (seems to be an issue with my use of testing framework, not the library). So I'd like to figure that out. But I'd be comfortable releasing even without a

[2016-11-04 13:30] qrilka commented on #23
Ouch, I have totally missed that it works with `reflex-0.5` - wanted to try it out with our app (too much manual code) but we haven't yet migrated from `reflex-0.4`

[2017-03-17 20:00] expipiplus1 opened #32 "The readme has an out of date signature for `client`"

[2017-03-18 18:51] imalsogreg commented on #32
Thanks - good point. I'm updating the docs now.

[2017-03-18 21:33] imalsogreg commented on #32
Fixed by #34

[2017-03-18 21:33] #32 closed

[2017-03-18 21:34] expipiplus1 commented on #32
Thanks!

On Sat, 18 Mar 2017, 9:33 pm Greg Hale, <notifications@github.com> wrote:

[2017-08-03 18:47] 3noch commented on #5
I'm back! A lot of stuff changed since a over a year ago and I'm finally in need of this yet again! I'm hoping to use [servant-auth](https://hackage.haskell.org/package/servant-auth). What's the story for auth using servant-reflex at this point?

[2017-08-03 19:04] imalsogreg commented on #5
@3noch Excellent! For my Auth needs I've been relying on a combination of setting cookie headers (on the server side), and ignoring auth on the client side (letting it be handled entirely by the cookies). I'm glad to see that `servant-auth` has an extremely light dependency set, so there's probably no reason for `servant-reflex` to avoid adding it as a dependency and implementing the XHR-twiddling

[2017-08-03 19:28] 3noch commented on #5
@imalsogreg I'll add a PR ASAP but I may need some help!

[2017-08-08 01:44] imalsogreg commented on #5
Closed by @3noch himself #36. Thank you!!

[2017-08-08 01:44] #5 closed

[2017-08-08 02:20] 3noch opened #37 "Add "uncurried" client"
Instead of deriving client functions that look like this

[code]

we could derive clients that look like this

[code]

[2017-08-08 02:21] 3noch commented on #37
We may need to use some sort of inductive tuple type instead of native tuples.

[2017-08-08 03:24] 3noch opened #38 "Document servant-auth usage"
Copied from #36:

The tricky part about `servant-auth` is that it uses very specific types for the API spec. From the example:

[code]

The problem with this is that `SetCookie` (from [`cookie`](https://hackage.haskell.org/package/cookie-0.4.2.1/docs/Web-Cookie.html#t:SetCookie)) needs some [orphan] instances that are [supplied by `servant-auth-server`](https://github.com/plow-technologies/servant

[2017-08-08 03:33] 3noch commented on #38
To do the more aggressive parameterization, one can use this:

[code]

[2017-08-14 03:59] NorfairKing opened #39 "Event does not fire at the end of request?"
I may be understanding this massively, so feel free to tell me if this is the wrong repository to open an issue at.

I'm trying to make some sort of list of text items that can be added to, and the addition can be synced to a server (that part works).
Then I want to show a list of items that each have a delete button.
When the delete button is clicked, that deletion needs to be synced as well.
Thi

[2017-08-14 15:43] imalsogreg commented on #39
Interesting problem. Definitely feel free to post issues like this here.

My first thought is that maybe code outside of the snippet you posted is doing something with the `ItemDeletedEvent`s that come directly from the button clicks (`Just e1`), such as deleting the row?

The direction I would go, both to solve this issue and to make other patterns easier, would be to make the list items less sel

[2017-08-14 16:57] NorfairKing commented on #39
@imalsogreg Thanks for the help! I'll try that. After a bunch of discussion on #reflex-frp, I'm convinced this is certainly not `servant-reflex`'s fault. Closing this.

[2017-08-14 16:57] #39 closed

[2017-08-22 11:58] NCrashed opened #42 "License"
Hi,

In cabal file license is set to unfree `AllRightsReserved`, but `LICENSE.md` corresponds to BSD3. So, `cabal2nix` treats the package as proprietary. It makes some burdensome while using via nixos.

Is there any paticular reason to not have BSD3 in cabal file explicitly?

[2017-08-22 12:05] imalsogreg commented on #42
Thank you for opening a ticket - I hadn't noticed this! Fixed in b35b7da1db4e28eacf7e9f2de1a0cee6726180d6

[2017-08-22 12:05] #42 closed

[2017-08-31 11:50] NorfairKing commented on #37
+1

[2017-09-15 12:07] waern commented on #37
+1

[2017-09-18 18:03] 3noch opened #43 "Leverage new servant-client-core architecture"
`servant-client` has finally been split out, which means we can likely refactor this project to be nothing more than a client backend. I haven't looked into any details of how that would be done, yet.

C.f. https://github.com/haskell-servant/servant/pull/803

[2017-09-19 01:04] imalsogreg commented on #43
Thanks for the heads-up, nice! I think `servant-client-core` can't support the current Dynamic-y API in `servant-reflex`, and maybe that's for the best :) (not sure how many people actually like the current API. `servant-client-core` would be a great basis for something more like the "Tuple API"... we would have to convert `a -> b -> c -> ClientM r` into `(a, b, c) -> JSM r` generally, or somethin

[2017-09-19 19:57] schell opened #44 "Question: platform agnosticism"
How difficult would it be to make this library "platform" agnostic? This would mean removing any reference to `jsaddle`, `reflex-dom` and `ghcjs-dom`. Doing this would make it a shoe-in for `reflex-sdl2`.

[2017-09-19 20:35] imalsogreg commented on #44
There's a newly [servant-client-core](https://github.com/haskell-servant/servant/tree/master/servant-client-core) package which tries to abstract the `Client` type family away from a concrete http client.

So, if we use that library, we can get the `Client` type family for free, with the consequence that client types `servant-reflex` provides would look much more like `Int -> Bool -> IO Text` than

[2017-09-19 20:55] schell commented on #44
My thinking is that if we abstract away what does the actual async request, we could get away without including `jsaddle`. Of course, it's then a bit less useful ... or ... convenient.

I'm thinking something like this:
[code]
Lots of hand waving.

[2017-09-19 20:58] schell commented on #44
Yeah, I don't know if there's an _easy_ way to do this for all `reflex-*` libraries.

[2017-09-19 20:59] 3noch commented on #44
@schell I'm sure we could come up with some sort of common "request" and "make request" abstraction that could be filled in by different reflex hosts.

[2017-09-21 15:48] 3noch opened #45 "Provide access to original XHR request for debugging purposes"
As far as I know there is no way to look at the raw XHR request being sent. This would be very helpful in debugging.

I can't think of a good design for this though. The only idea I have is to add it to the `ReqResponse`.

[2017-09-21 15:50] NorfairKing commented on #45
Maybe just have a `debug-requests` flag with CPP?

[2017-09-21 15:51] 3noch commented on #45
@NorfairKing That would work, although it's heavy-handed IMO.

Actually I can see the value in providing a derived client that doesn't actually make a request at all, but just hands you the XHR request object and lets you do what you want.

[2017-09-21 16:13] 3noch opened #46 "Allow withCredentials to be set"
Right now you can't actually do CORS XHR because you can't set `withCredentials = True`.

[2017-09-21 16:14] 3noch commented on #46
We need some way to configure the `XHR` request before it gets sent.

[2017-09-24 16:24] NorfairKing commented on #46
+1

[2017-09-25 20:13] imalsogreg commented on #44
This PR against `servant` looks very promising! https://github.com/haskell-servant/servant/pull/818/files

[2017-09-25 21:00] imalsogreg commented on #46
Closed by #47

[2017-09-25 21:00] #46 closed

[2017-09-25 21:00] imalsogreg commented on #45
Closed by #47

[2017-09-25 21:00] #45 closed

[2017-09-25 21:00] 3noch commented on #46
Yay!

[2017-10-05 06:56] 3noch opened #48 "Discussion: XSRF header for servant-auth clients"
`servant-auth-server` by default assumes that the client will add an `X-XSRF-TOKEN` header with the contents of the `XSRF-TOKEN` cookie. I have a PR servant-auth to make this configurable, but regardless it would be nice if servant-reflex made this easier. Now that we have #47, we can actually do this manually. In fact, that may be the *only* way currently. The reason is that servant-auth doesn't

[2018-01-10 15:51] jekor opened #51 "Permit zero content types for empty response"
See https://github.com/haskell-servant/servant/issues/69

Error:

[code]

Relevant code:

[code]

[2018-01-10 19:22] imalsogreg commented on #51
Thanks! I will try to get to this tonight EST

[2018-01-11 01:34] imalsogreg commented on #51
@jekor Looking at newer servant-client code, I don't see special handling of `()` anymore - I believe this has been replaced by `NoContent`, and handlers over  `NoContent`-returning endpoints permit zero content types. Does using `NoContent` work for you? If not, do you mind trying out kjd `issue-51` branch? If it works we can think about merging it to `master` here, and discuss  if `servant-clien

[2018-01-12 01:34] jekor commented on #51
Thanks. I've confirmed that the `issue-51` branch compiles for me, but then I found out that `'[] ()` will no longer compile with servant-server. I hadn't realized this, as the client gets compiled before the server in my build system.

NoContent works for me. Sorry for the distraction!

[2018-01-12 01:34] #51 closed

[2018-02-01 02:10] 3noch commented on #48
BTW this extra header can be added by using `clientWithOpts`.

[2018-02-01 03:09] finlay commented on #48
Hi

We made this work using the Web.Cookie (cookie) library to parse the cookie text. The following example is based on a Servant authentication API derived from `servant-auth-server`:

[code]

This is the `Servant.Reflex` code required to get the cookie, and put it into the request header:

[code]

[2018-02-01 03:25] 3noch commented on #48
@finlay Thanks for the full example! Is it possible to put the `getToken` bit into `tweakRequest` itself so you can derive these functions once and reuse them again for different tokens?

[2018-02-01 04:48] finlay commented on #48
I think the issue is that the `currentDocumentUnchecked` function needs the `MonadJSM` context, which IO doesn't have.

And the `ClientOptions` type wraps a function in `IO`.

We could change the `ClientOptions` type a little perhaps. @hamishmack was wondering about that.

F

[2018-02-01 05:14] 3noch commented on #48
There is a way to get the JSM context and regain it again but I can't recall how. I'm sure @hamishmack knows.

[2018-02-01 15:30] imalsogreg commented on #48
@finlay @3noch changing the type of `ClentOptions` sounds promising.

[2018-03-21 16:14] roberth commented on #43
First of all thank you for your work on reflex and/or servant.
I have an incomplete but working rewrite based on `servant-client-core` that implements #37, uncurried `(Event -> m Event)`. I hope to publish it soon. Aside from the uncurrying part, it's rather small indeed.

[2018-03-23 12:15] roberth commented on #44
Although it may not be as feature complete at this point, I've created [a platform agnostic rewrite](https://github.com/Compositional/reflex-servant). It's sufficient for my own use now, but feel free to create issues (or PRs ;) ). If you think it'd be better to merge it into this project that's also fine with me (not sure if a good idea though, considering that this is about removing dependencies

[2018-03-23 12:17] roberth commented on #43
[Here it is](https://github.com/Compositional/reflex-servant)

[2018-03-23 12:18] roberth commented on #37
[My rewrite](https://github.com/Compositional/reflex-servant) may be an option. (Sorry for spamming the issue tracker)

[2018-03-23 12:37] roberth commented on #44
@mightybyte It would be possible, but not very pretty. With a custom [`RunClient`](https://hackage.haskell.org/package/servant-client-core-0.13/docs/Servant-Client-Core.html#t:RunClient) function, you could retrieve the `Request`. You can convert that to an `XhrRequest` (except you wouldn't if you're avoiding reflex-dom, which this issue is about). But don't you want to use servant for the respons

[2018-03-26 13:35] mightybyte commented on #44
@roberth Oh, that's a good point about the Request.  I was more trying to think of ways to ruthlessly simplify things, but I had forgotten about the Request component.

[2018-03-26 13:52] roberth commented on #44
@mightybyte Apart from the uncurrying it's already a trivial wrapper around `servant-client-core`.

[2018-03-27 01:02] imalsogreg commented on #44
@roberth Awesome work! I'd been struggling with converting to a tuple-based API, and fitting anything `Event`-based into `servant-client-core` seemed impossible given the client monad typeclass they provide. I like your solutions in both areas. It would be great to have your work as a PR in `servant-reflex`, where we could explore further the cost/benefit of hosting multiple API options in a singl

[2018-03-27 08:12] roberth commented on #44
@imalsogreg Although I appreciate the idea of a PR wrt visibility and collaboration, at this point I don't see a technical benefit of doing so. I don't see any code that I can reuse or the other way around. After [reflex-servant issue 2](https://github.com/Compositional/reflex-servant/issues/2) the API for options may become similar though, except `reflex-servant` doesn't depend on `reflex-dom` ty

[2018-05-24 16:59] src-of-truth[bot] opened #60 "- actually send results to /dev/null when hpc kinks are fully removed..."
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/testdriver/runTestsAndCoverage.sh#L42-L43

* Found on travis-nix

[2018-05-24 16:59] src-of-truth[bot] opened #61 "Bring back..."
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/src/Servant/Reflex.hs#L439-L440

* Found on travis-nix

[2018-05-24 16:59] src-of-truth[bot] opened #62 "Check the above comment..."
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/src/Servant/Reflex/Multi.hs#L255-L256

* Found on travis-nix

[2018-05-24 16:59] src-of-truth[bot] opened #63 "Overlapping??..."
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/src/Servant/Reflex.hs#L250-L252

* Found on travis-nix

[2018-05-24 16:59] src-of-truth[bot] opened #64 "how to access input types here?..."
ExceptT ServantError IO NoContent
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/src/Servant/Reflex.hs#L220-L223

ExceptT ServantError IO NoContent
https://github.com/imalsogreg/servant-reflex/blob/7e6a372939b4218c1d76a641dded8d85126346fd/src/Servant/Reflex/Multi.hs#L160-L163

ExceptT ServantError IO a
https://github.com/imalsogreg/servant-reflex/blob/7e

[2018-07-07 22:12] JBetz commented on #38
Would really appreciate some documentation on this. @3noch, I'm trying to use your example for option 3 and haven't been able to get it working.

API and client definitions:
[code]

Error with:
[code]

The type family approach gave the same result. Am I missing something?

[2018-07-08 00:15] 3noch commented on #38
@JBetz `servant-auth` has changed a bit since I was using it actively, but have you tried the more aggressive parameterization version?

[2018-07-09 20:15] JBetz commented on #38
Okay, the error went away after I added `Cookie` to the `auths` type parameter of my API type. I only had `JWT` in the list before, so it sounds like `servant-reflex` is relying on that to determine whether or not the API uses cookies or not, and with only `JWT` it was somehow ambiguous. That sortof makes sense, though it makes the API definition itself a bit ambiguous since `JWT` and `Cookie` are

[2018-07-16 21:51] abueide opened #67 "Turn ResultStream into a Dynamic"
Is there a way to turn a ResultStream from Servant into a Dynamic that will trigger events every time a new result is sent from the server?

[2018-07-17 14:04] imalsogreg commented on #67
I haven't updated the library for `Stream` endpoints yet - that would be a nice feature! I hope to get to it at some point, or would be very happy to take a PR if anyone implements this sooner.

[2018-07-24 22:55] YuMingLiao opened #68 "build.sh fails"
I am following the instructions and do `./build.hs`.
And I got this error.

[code]

It seems something wrong with servant-auth-0.2.7.0. I don't know what's going on.
I am using nixos.

And work-on.log have no thing particular:
[code]

[2018-07-25 03:21] YuMingLiao commented on #68
[code]

I can't reproduce the error myself...
Since it's Segmentation fault, maybe it's about memory.
I'm sorry if it's not appropriate to report here.
I'll close it if I can't delete it.

[2018-07-25 03:21] #68 closed

[2018-07-25 22:57] imalsogreg commented on #68
Interesting, thanks for raising the issue!

I haven't maintained `build.sh` much, since trying to develop this library without directly using try-reflex. Are you having trouble integrating this into your own code, or were you trying to get the example up running to do some experimentation?

[2018-07-26 02:01] YuMingLiao commented on #68
Thanks for response!

I am just doing some experimentation. But I can't build it, so I put it into my own reflex project and make it as a submodule. It seems I can compile it now.

Generating reflex client functions for querying a servant API sounds a great thing, I would like very much to try it. Thanks for this project!

[2018-07-26 02:03] imalsogreg commented on #68
Great! Thanks for trying it, please let me know if you could use help!

[2018-10-07 12:50] jappeace commented on #23
Uhm could you just release it? It's annoying that I need to create the docs manually. It works right?

[2018-10-07 14:33] imalsogreg commented on #23
@jappeace @hvr I didn't know that release candidates have publicly available docs - that is a great solution for the moment, will do so now!

[2018-10-07 15:01] imalsogreg commented on #23
@jappeace http://hackage.haskell.org/package/servant-reflex-0.3.3/candidate  Docs available here. I see they badly need polish.

[2018-10-11 16:18] jappeace opened #71 "Client generation fails due to overlapping instances after upgrade to ghc 8.4"
Hi, I just bumped reflex platform today and now it is borken, I really don't know what to do about this:

[code]

I tried deleting MonadWidgetConstraints but that didn't work.
This is the source code:

[code]

the project around it is with nix so fully reproducible: https://github.com/jappeace/awesome-project-name/blob/borken-upgrade/frontend/src/ServantClient.hs

It works on the master branch tho

[2018-10-11 16:20] ryantrinkle commented on #71
You may want to try enabling AllowAmbiguousTypes.  It's not as scary as it
sounds - types still have to be unambiguous at their use site, just not at
function definition site.

On Thu, Oct 11, 2018 at 12:18 PM Jappie Klooster <notifications@github.com>
wrote:

[2018-10-11 16:39] jappeace commented on #71
Thanks that worked! I also had to add `Wno-simplifiable-class-constraints`, this builds I believe: https://github.com/jappeace/awesome-project-name/commit/fc02e6c1b2f09dc967c6190da5ae2862e3766394

[2018-10-11 16:39] #71 closed

[2018-10-17 18:59] jappeace commented on #38
Servant auth peope have moved the FromHttpData instance to http://hackage.haskell.org/package/http-api-data-0.3.10/docs/Web-HttpApiData.html#t:FromHttpApiData

Currently that doesn't build against reflex platform but it should be resolved eventually.

[2018-10-21 04:58] cah6 opened #73 "Client calls OPTIONS verb instead of POST"
Hello there! So I have a servant CRUD api on a data type called "HappyHour", the servant definition looks like:
[code]
and then I'm trying to generate a client with this library with:
[code]
While the queryHH call works just fine, strangely enough when my reflex code calls createHH, the network call it's making is `OPTIONS http://localhost:3000/happy-hours` instead of `POST ...`, seen by inspectin

[2018-10-22 16:04] cah6 commented on #73
Heh, little github issues last night!

So my project where I saw this issue has 5 endpoints, I just removed the other 3 when I pasted my code here since it wasn't necessary to the description...but forgot to remove them from all places.

In any case, it turns out this happens with `servant-client-ghcjs` as well -- but NOT `servant-client`. That is, my POST requests fire fine with GHC but not with

[2018-10-22 18:56] 3noch commented on #73
It sounds like this is just your browser doing a preflight check on your API endpoint. If you have not added a specific handler for `OPTION` requests, then of course it will fail with a method-not-allowed and your request will fail. The reason it's doing a preflight in the first place must be because your request is cross-origin. You can add a servant handler for OPTION or you can use `https://hac

[2018-10-22 19:36] cah6 commented on #73
Yeah, but the thing is I already ran into this and (I thought) fixed it. I.e. on my servant server I have
[code]
which should allow access on all methods. Do I need to make some sort of change on the client side as well? Also if it was just that, I wouldn't expect POST to fail but GET to pass?

[2018-10-22 19:49] 3noch commented on #73
Does https://hackage.haskell.org/package/wai-cors-0.2.6/docs/Network-Wai-Middleware-Cors.html#v:simpleCorsResourcePolicy fully meet your needs? Note that POST has extra constraints for content type.

[2018-10-22 19:56] cah6 commented on #73
Ahh I understand now: it only sends a preflight request if the original request doesn't fall into the "simple" category, and my POST doesn't because it's sending JSON. So I'll have to either customize my CorsResourcePolicy, use something like http://hackage.haskell.org/package/servant-options to provide the OPTIONS response, or some mixture of the two.

Thanks for the help, I can probably figure i

[2018-10-22 20:04] 3noch commented on #73
No problem. I've spent too long debugging issues exactly like this one myself. You should be able to just add your content type to the resource policy in that case.

[2019-01-09 20:06] marcotoniut opened #75 "Suggestion: `fanReqResult`"
Here's a function that I see myself using constantly.

[code]

Wouldn't it be considered a worthy addition to the library?

[2019-01-09 22:04] imalsogreg commented on #75
I like it! Want to send a PR, or should I just copy this in?

[2019-01-09 22:17] marcotoniut commented on #75
Neat! I'll make it into a PR later today, don't sweat it.

[2019-01-10 01:21] imalsogreg commented on #75
Closed by #76

[2019-01-10 01:21] #75 closed

[2019-02-25 20:54] jappeace commented on #23
Now reflex 0.5 has been released, would you mind putting it on hackage?

[2019-02-26 15:39] imalsogreg commented on #23
@jappeace Yes! I can't believe reflex-0.5 has been on Hackage for a month and I didn't realize. So out of the loop :)

[2019-02-26 15:47] jappeace commented on #23
Awesome! Thanks

[2019-02-26 21:25] imalsogreg commented on #23
http://hackage.haskell.org/package/servant-reflex-0.3.4   <-- there we go, party time!

Wow, some of the worst documentation I have ever seen :)

[2019-02-26 21:25] #23 closed

[2019-02-26 21:26] imalsogreg opened #79 "General Haddock cleanup"
Haddocks are highly disorganized and unhelpful. Organize them into something closer to what's found in the README.md tutorial.

[2019-04-14 20:37] src-of-truth[bot] opened #82 "- actually send results to /dev/null when hpc kinks are fully removed"
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/testdriver/runTestsAndCoverage.sh#L42-L43

* Opened on master

[2019-04-14 20:37] src-of-truth[bot] opened #83 "Bring back"
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/src/Servant/Reflex.hs#L439-L440

* Opened on master

[2019-04-14 20:37] src-of-truth[bot] opened #84 "Check the above comment"
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/src/Servant/Reflex/Multi.hs#L255-L256

* Opened on master

[2019-04-14 20:37] src-of-truth[bot] opened #85 "Overlapping??"
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/src/Servant/Reflex.hs#L250-L252

* Opened on master

[2019-04-14 20:37] src-of-truth[bot] opened #86 "how to access input types here?"
ExceptT ServantError IO NoContent
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/src/Servant/Reflex.hs#L220-L223

ExceptT ServantError IO NoContent
https://github.com/imalsogreg/servant-reflex/blob/d02211407beac292072bd2630a5a388fd3840ea5/src/Servant/Reflex/Multi.hs#L160-L163

ExceptT ServantError IO a
https://github.com/imalsogreg/servant-reflex/blob/d0

[2019-04-15 16:04] schell commented on #63
@imalsogreg the issues opened by the bot with ellipses can be closed - they're now tracked as issues with titles without ellipses...

[2019-05-02 07:50] rsoeldner opened #87 "Version Bump, Reflex 0.6"
Hi,

any chance for a quick update ?
With the current version of `reflex-platform` I'm not able to compile servant-reflex

[code]

[2019-05-17 20:20] matthewbauer commented on #87
servant-reflex has updated to work on with reflex 0.6, it's just not in reflex-platform! Updated here:

https://github.com/reflex-frp/reflex-platform/pull/497

[2019-05-29 02:23] Rizary opened #90 "Cannot calling Api inside HTML widget"
I got some error when calling the api inside some widget. Here is the code:

https://github.com/Rizary/hackage-matrix-builder/blob/v3-tags/src-ui.v3/src/Main.hs#L465

but when I call the api outside the widget by only change
`evTagPkg <- fmapMaybe reqSuccess <$> getV2PackageTags (constDyn $ Right pn) evPB`

 into

`evTagPkg <- fmapMaybe reqSuccess <$> getV2PackageTags (constDyn $ Right "ace") evPB

[2019-05-29 03:39] benkolera commented on #90
The shadowing that you are doing with the record wildcards is tripping you up.

If you see https://github.com/Rizary/hackage-matrix-builder/blob/v3-tags/src-ui.v3/src/Main.hs#L371 you'll see a bit that is making the client and then exporting every extracted record field (the real client function) into that scope.

At line 465, you don't have such a thing in scope, so you are actually getting the r

[2019-05-29 12:39] Rizary commented on #90
@benkolera thank you.. I barely notice that. Regarding your suggestion, I need to discuss with @hvr first.

[2019-05-30 01:44] imalsogreg commented on #90
Thanks a lot for the diagnosis, @benkolera! I usually do what you do - write type annotations for client functions in non-servant terms. Between servant and reflex, there are a lot of ways to get mixed up about types, so declaring the endpoints' types is a great sanity check.

[2019-06-02 08:47] Rizary commented on #90
Thanks, I will close this issue and move to the matrix repo regarding type annotations.

[2019-06-02 08:47] #90 closed

[2019-08-30 16:40] ikervagyok opened #91 "generating client functions at top-level fails"
The snippet does compile, as long as the `client` generates only a single function from an API with a single endpoint. Adding another endpoint breaks `client`, even when all the functions are annotated.

Commenting out the last 2 lines and un-commenting the one before lead to a `Not in scope: type variable ‘m’` error. Did I forget some `LANGUAGE` pragmas? Is this a bug in `servant-reflex`, in `ghc

[2019-08-30 20:24] ikervagyok commented on #91
Never mind, it works when you don't forget `KindSignatures` and `NoMonomorphismRestriction` and the second proxy can't be written with `TypeApplications` like `(Proxy @m)`, but has to be written with an explicit type and kind signature `(Proxy :: Proxy (m :: * -> *))`.

Sorry for the false alert, I was looking into this for far too long and simply didn't remember these pragmas.

[code]

[2019-08-30 20:24] #91 closed

[2019-10-16 20:57] jappeace opened #93 "Get rid of the 'dynamics' and put all data in the trigger event tag (tupple api)"
I believe this idea was discussed in a PR: https://github.com/imalsogreg/servant-reflex/pull/78

Today I tried making this a reality but I ran out of time. I do have an approach to make this work: we construct in the servant interpreting part a function that will create a `Req` from the `tag` that peels of layers of the tupple.

I started doing this but everything blew up and I realized most code

[2019-10-18 11:35] jappeace commented on #93
I'm working on this here: https://github.com/jappeace/servant-reflex/tree/tupple-api

[2019-10-18 11:45] imalsogreg commented on #93
Thanks @jappeace ! I definitely like this approach. I have made some progress on it at https://github.com/imalsogreg/servant-reflex/tree/tuple-api-3 - may be work taking a look to see how I'm dealing with the nested tuples.

This approach has some confusing dark corners, but `tuple-api-3` is very close to being releasable.

Happy to go instead with your thing, whether it's based on `tuple-api-3` o

[2019-10-18 12:19] jappeace commented on #93
I'll use your approach then if I can make it work.

I just need this asap.

For now I merged master into it: https://github.com/jappeace/servant-reflex/tree/tuple-api-3
I'll continue another time.

[2020-02-09 19:24] imalsogreg opened #95 "Support new features in servant-0.17"
- `PostNoContent`et. al. are now standalone combinators
 - New `CaptureLax` returns `Either String a` (doesn't fail the whole request)

[2020-04-18 11:14] #87 closed

[2020-04-26 18:14] rsoeldner opened #98 "catch unavailable backend"
Hi,

If the resource is not reachable (ie. server offline) I would have expected a `RequestFailure :: ReqResult` or something. What is the way to handle such cases ?

[2020-04-26 18:36] imalsogreg commented on #98
o/

`ReqResult` can be either `ResponseSuccess`, `ResponseFailure`, or `RequestFailure`. The second is returned on cases like service unreachable, the third is returned for malformed requests.

I think the easiest way to handle them is to call `fmapMaybe`[`reqFailure`](https://github.com/imalsogreg/servant-reflex/blob/master/src/Servant/Common/Req.hs#L98-L101) on the result of the client call:

[c

[2020-04-26 18:55] rsoeldner commented on #98
yes, this is what I have expected, but unfortunately I see this (WebkitGtk):

I'm using
[code]
I'm currently experimenting with servant==0.17 ... I will further check - thank you

[2020-04-26 18:59] imalsogreg commented on #98
Ahh, thanks! If you are set up for it, could you check to see whether this happens with a ghcjs build of the frontend too?

[2020-04-26 19:26] rsoeldner commented on #98
ghcjs build works ... do you have any idea why the webkit version fails ?

[2020-04-26 19:46] imalsogreg commented on #98
I don't know, but it sounds like the underlying XHR handling may not work under webkitgtk. Your error message mentions ArrayBuffer.. I haven't looked into the proper way of receiving response data, but I have a vague memory that there are options at runtime for which type of container to use...

Let's use this issue to track the fix. Could you update the title to indicate that XHR is broken in web

[2020-04-27 12:13] rsoeldner opened #99 "Support for Servant-Multipart"
I would like to use `servant-multipart` with `reflex` for file upload. Could this be easily added ?

[2020-04-27 15:16] imalsogreg commented on #99
A couple things make this tricky to support

 1. [`servant-multipart`](https://hackage.haskell.org/package/servant-multipart) packages both the API type and the `servant-server` instances - this brings `wai` and other server-side packages into the dependency tree of your frontend. Last time I checked, ghcjs fails to compile in this case (but maybe that's changed recently?). We would have to either

[2020-04-28 07:27] rsoeldner commented on #99
This looks not so easy. I have seperated the `servant-multipart` package see here: https://github.com/rsoeldner/servant-multipart

I tried adding the following instance to `servant-reflex` as a starting point:
[code]

I tried to convert `MultipartData` using `multipartToBody boundry $ toMultipart` but
`multipartToBody :: forall tag. MultipartBackend tag  => LBS.ByteString -> MultipartData tag -> R

[2020-04-28 17:19] imalsogreg commented on #99
Ooh, that looks tough to get around. I expect that the dependency on `wai` comes from the need to be able to stream bytes into the http request. I see two paths forward.
 1. Give up on any POST requests that can't fit in memory; in this case `toRequestBody` could be written as a pure `ByteString` manipulation function.
 2. Replace the request body handling in servant-reflex so that it's compatible

[2020-04-28 17:25] imalsogreg commented on #99
Oh also, I forgot to explain `reqBody`. It's type `Maybe (Dynamic t (Either Text (BL.ByteString, Text)))` isn't document well enough.

 - The `Maybe` allows a req body to optionally have no request body (for non-POST, non-PUT endpoints).
 - The `Dynamic` is similar to all other dynamics in the request - it gets updated along with the widgets whose values are being serialized into your request body

[2020-06-24 12:15] malte-v opened #100 "Using servant-reflex for frontend routing"
I'd like to use something similar to `servant-reflex` for frontend routing. There's `https://hackage.haskell.org/package/servant-router`, but it only lets you handle routes and doesn't really provide an ergonomic mechanism for changing the browser location. I think it wouldn't be too difficult to rewrite this library so that the generated functions always return `m ()` (because moving to a differe

[2020-06-29 15:48] malte-v commented on #100
I ended up using https://hackage.haskell.org/package/servant-router in conjunction with the Servant.Links module, which solves my problem. Feel free to reopen this if you think it's still a good idea.

[2020-06-29 15:48] #100 closed

[2020-07-20 05:43] santiweight commented on #98
Hey there. I am currently experiencing this issue also on the WebKit build. Is there any update on progress for this/any pointers to where I could look into making a fix myself?

[2020-07-21 23:25] imalsogreg commented on #98
@santiweight I have been under the gun at work and haven't made any progress on this. I would absolutely love help on it if you're willing to take a look! Most of my XHR handling either relies on low-level functions from `reflex-dom`, or uses copies of implementations of functions from `reflex-dom`. I suspect the issue is somewhere around here: https://github.com/imalsogreg/servant-reflex/blob/mas

[2020-08-22 20:49] imalsogreg opened #101 "Remove dynamic BaseUrl"
The `servant-reflex` generated client functions accept a `Dynamic BaseUrl`. I believe noone uses this - `BaseUrl` will be constant for every normal use-case, and for any odd instance where we want to modify it at runtime, that can be achieved by rebuilding the client functions within `widgetHold`.

If you do make use of the dynamic `BaseUrl`, and want me to keep it, please drop a message here. Oth

[2020-08-30 04:14] ibizaman commented on #101
Not sure my opinion is worth anything as I just began using servant-reflex. But to the contrary, I thought it was a cool idea because it would be easy to allow the user to setup the backend address in a widget. Not sure how much I will use it this way in practice though.

[2020-08-30 06:16] ibizaman commented on #91
FWIW I stumbled into this too. I got it working with this minimal example which assumes `API` is defined in `Common`:

[code]

[2020-08-31 03:08] imalsogreg commented on #101
Thanks for the feedback! Your opinion is worth a ton, since I don't want to be twiddling the API on just my own whims. I'll leave this ticket open for a while and we can see if you or others do end up using the dynamic baseurl.

If I remove it, I'll give more detailed instructions. But for now, the gist of how you would rebuild the client functions is like this:

[code]

[2020-08-31 03:09] #63 closed

[2020-08-31 03:09] #62 closed

[2020-08-31 03:10] #61 closed

[2020-08-31 03:10] #64 closed

[2020-08-31 03:10] #60 closed

[2020-09-30 10:35] rprije opened #103 "Question: How does one map a Client function over a list of values in an Event?"
I have some servant-reflex functions successfully performing queries. One query produces a list of identifiers. The interesting parts look something roughly like this:

[code]

I then have another function which goes and retrieves the full item based upon the identfiier. Something like this:

[code]

ie it takes a single identifier. I'd like to map the second function over the list contained in th

[2020-09-30 13:00] imalsogreg commented on #103
Hello, great question! It can be hard to do monadic things with servant-reflex requests/responses. I think your `widgetHold`s may be clobbering each other?

When sending multiple requests in a single point in time, some special handling is needed in order to keep track of which response belongs to which request, and that's what the [clientA](https://hackage.haskell.org/package/servant-reflex-0.3.5

[2020-10-01 22:28] rprije commented on #103
Thanks! I hadn't really noticed the `Servant.Reflex.Multi`. That seems very appropriate!

My API uses `Capture` and the `HasClientMulti` instance for this wraps the function argument up as a `f (Dynamic t (Either Text a))` (https://github.com/imalsogreg/servant-reflex/blob/dac560cdb65ffaaa78d5ab800b8aa52ed011f44a/src/Servant/Reflex/Multi.hs#L123-L124)

However I notice that the README and code sho

[2020-10-03 11:04] rprije commented on #103
I was able to get my thing working by introducing a delay on the triggering `Event`. I think things got a little confused having my computations get created inside the same `Event` that was being used to construct argument to the computations. Without the delay and using the event directly, the computation would just never fire at all.

(and, as an aside, thanks for building this library. Having m

[2020-10-03 11:04] #103 closed

[2021-01-01 22:09] ibizaman opened #105 "About writing explicit types for the client functions"
This is not an issue but a way of documenting my findings.

Having the following API:

[code]

I can get the following functions from servant-reflex:
[code]

For this to work, I needed to disable the monomorphism restriction with:
[code]

Also, I like to write explicit type signatures so I came up with the following:
[code]

I do not use `Dom.MonadWidget` because that issues a warning from the `si

[2021-01-23 21:19] rubenmoor opened #106 "Using shells.ghc from reflex-platform: fails because of the example"
Using `servant-reflex` in my `reflex-platform` project, everything works smoothly and I can use nix to build a package and deploy just fine.

However, for my IDE (haskell-language-server) I build my project, including frontend, with GHC instead of ghcjs. `reflex-platform` allows that just fine.

But since I use `servant-reflex` I get this error upon entering

[code]

I don't know why the example g

[2021-01-23 21:58] rubenmoor commented on #106
As a workaround, I disabled the example by overriding `configureFlage = [ "-fexample"]`:

    servant-reflex = (self.callPackage ./servant-reflex { }).overrideDerivation( _: { configureFlags = []; });

I am still curious, though, why the example wouldn't build.

[2021-01-25 02:26] imalsogreg commented on #106
Thanks for reporting this! It seems I used a `mainWidget` in the example that only works under ghcjs. #107 fixes this and adds a test that the example compiles under ghc.

[2021-01-25 02:40] imalsogreg commented on #105
This is great! I'll try to incorporate it into the readme.

[2021-01-25 17:11] imalsogreg commented on #106
Closed by #107

[2021-01-25 17:11] #106 closed

[2021-03-20 13:44] tfc opened #109 "incompatibility with `Servant.API.Description`"
Hi, when i decorate a route with e.g. the [`Summary`](https://hackage.haskell.org/package/servant-0.18.2/docs/Servant-API-Description.html#t:Summary) symbol for automatic documentation, this won't work with `servant-reflex`.

I have one small example project branch that triggers this:

https://github.com/tfc/reflex-servant-backend-frontend-example/tree/summary-incompatibility

[code]

I am no expe

[2021-03-23 02:10] #109 closed

[2021-10-06 12:19] s9gf4ult opened #112 "Are HasClient and HasClientMulti just the same?"
I am prepearing the PR with support for new features from `servant-0.18*` but just realized that there is module `Servant.Reflex.Multi` which consists of a lot of duplcation instances of `HasClientMulti`.

My concern is do `HasClientMulti t m layout Identity tag` just identical to `HasClient t m layout tag`?

Maybe it would be valuable to just remove all `HasClient` instances and replace the class

[2021-10-06 14:01] imalsogreg commented on #112
I think you're right. I added `HasClientMulti` later and did not want to disturb the original API, but I believe `HasClientMulti t m layout Identity tag` would work perfectly well in place of `HasClient t m layout tag`.

I wonder if there will be some difficulty implementing the function `client` in the non-multi case, if you make the proposed change. For instance, if we simply go ahead, will all

[2021-10-14 08:19] tfc opened #113 "Example project sends XHR requests when built with reflex-platform but not with haskell.nix"
Hi,

i have a little example project that consists of a backend and a frontend with a shared API definition.

https://github.com/tfc/reflex-servant-backend-frontend-example/tree/haskell-nix

Now it does work really well when built with reflex-platform, but for different reasons i would like to build it with haskell.nix.
It is very easy to switch between both nix libraries, but the haskell.nix-buil

[2021-10-17 05:24] s9gf4ult opened #114 "Nix build failed because of absent webdriver-utils repository"
[code]

It looks like `wuzzeb` removed the repository from bitbucket. Now the `servant-reflex` can not be built locally with `nix`

[2021-10-17 05:34] s9gf4ult commented on #114
Oh, I see this is an issue in platform https://github.com/reflex-frp/reflex-platform/issues/686

[2022-01-20 03:02] imalsogreg opened #118 "Dependencies are out of date"
On macos:

`nix-shell` fails to open a shell:

[code]

On linux, `nix-shell` succeeds, but `cabal build` fails:

[code]

I (or a kind contributor!) need to bump the `reflex-platform.nix` reference to a more recent reflex-platform, and debug any remaining issues with the build, e.g. outdated dependencies.

[2022-02-04 13:06] imalsogreg opened #119 "Support servant-0.19"
The new `NamedRoutes` looks very nice!

https://github.com/haskell-servant/servant/blob/a8f1a7603f122cae79c725c093089537e452d9bd/servant/CHANGELOG.md#019

[2022-06-13 21:12] danwdart commented on #38
Once logged in then, is there any way to do cross-domain ajax with credentials? Only since it's http-only and not sent with cross-domain requests by default, what flags are we going to need?

[2022-06-29 02:54] rubenmoor opened #120 ""bad request": my request gets formed without payload"
see also here: https://discourse.haskell.org/t/servant-and-servant-reflex-debugging-a-bad-request/4715

I added a route to my api, like this:

[code]

I use `servant-reflex` for client-side code like this:

[code]

And I call `getJournalAll` like this:

[code]

I checked that `dynStartEnd` has indeed a `Right`-value inside (the error for a `Left` would be a different one, anyway). But in the brows

[2022-06-29 20:02] rubenmoor commented on #120
I was able to reproduce the problem with a hand-written XHR. Even though the server responds with a 400/Bad Request, the cause of the problem is not `servant-reflex`.

[2022-06-29 20:02] #120 closed, assigned to nobody

[2022-06-29 23:50] imalsogreg commented on #120
@rubenmoor Thanks for the report! Are you using `servant-snap` as the server?

[2022-06-30 00:13] rubenmoor commented on #120
Yes, indeed servant-snap

[2022-06-30 13:59] rubenmoor commented on #120
cf. https://github.com/haskell-servant/servant-snap/issues/33

[2022-07-11 12:07] hendysg opened #122 "testserver broken. Need to bump reflex-platform to v0.9.0.2"
I tried building the `testserver` following instruction in README.md but failed

[code]

Failed with error:
[code]

**Bumping `reflex-platform` to v0.9.2.0** fixes it for me.

I made a fix on my fork https://github.com/hendysg/servant-reflex/commit/9d61c6990181b0b4c8a7061642978569a8a44315

If you think this is an appropriate fix, I'd be happy to create a pull request.

Last but not least, **thanks

[2022-07-11 12:16] hendysg commented on #122
@imalsogreg ah.. I just saw #118. Seems related.

But in this issue I've only tried running the testserver. I don't know what other things might be broken.
I'll give an update if I encounter other broken things.

Feel free to close this issue if it's considered a duplicate of #118.

[2022-07-11 12:30] hendysg commented on #118
On linux, using [reflex-platform v0.9.0.2](https://github.com/hendysg/servant-reflex/commit/9d61c6990181b0b4c8a7061642978569a8a44315), I successfully entered `nix-shell` and ran `cabal build`

[code]